{% extends "base.html" %}

{% block title %}
Главная - Пожарный учёт
{% endblock %}

{% block cards %}
<div class="col">
              <div class="card shadow-sm">
                <svg
                  aria-label="Placeholder: Thumbnail"
                  class="bd-placeholder-img card-img-top"
                  height="225"
                  preserveAspectRatio="xMidYMid slice"
                  role="img"
                  width="100%"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Личный кабинет
                  </text>
                </svg>
                <div class="card-body">
                  <p class="card-text">
    <a href="#" class="text-decoration-none">Справка 2-НДФЛ (заказ)</a><br>
    <a href="#" class="text-decoration-none">Справка о доходах</a><br>
    <a href="#" class="text-decoration-none">Справка с места работы</a><br>
    <a href="#" class="text-decoration-none">Заказ пропусков</a><br>
    <a href="#" class="text-decoration-none">Мои отпуска</a><br>
    <a href="#" class="text-decoration-none">Контакты коллег</a>
</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Подробнее
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Редактировать
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  aria-label="Placeholder: Thumbnail"
                  class="bd-placeholder-img card-img-top"
                  height="225"
                  preserveAspectRatio="xMidYMid slice"
                  role="img"
                  width="100%"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Кадры
                  </text>
                </svg>
                <div class="card-body">
                  <p class="card-text">
    <a href="#" class="text-decoration-none">Аттестация спасателей</a><br>
    <a href="#" class="text-decoration-none">Электронная папка №21</a><br>
    <a href="#" class="text-decoration-none">Электронная папка №22</a><br>
    <a href="#" class="text-decoration-none">Электронная папка №23</a><br>
    <a href="#" class="text-decoration-none">Электронная папка №24</a><br>
    <a href="#" class="text-decoration-none">Электронная папка №25</a>
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Подробнее
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Редактировать
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  aria-label="Placeholder: Thumbnail"
                  class="bd-placeholder-img card-img-top"
                  height="225"
                  preserveAspectRatio="xMidYMid slice"
                  role="img"
                  width="100%"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Штаб
                  </text>
                </svg>
                <div class="card-body">
                  <p class="card-text">
    <a href="#" class="text-decoration-none">Расчёты по тактике</a><br>
    <a href="#" class="text-decoration-none">Учёт сил и средств</a><br>
    <a href="#" class="text-decoration-none">Отделения (старшие)</a><br>
    &nbsp;<br>
    &nbsp;<br>
    &nbsp;<br>
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Подробнее
                    </button>

                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Редактировать
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  aria-label="Placeholder: Thumbnail"
                  class="bd-placeholder-img card-img-top"
                  height="225"
                  preserveAspectRatio="xMidYMid slice"
                  role="img"
                  width="100%"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Нормативная база
                  </text>
                </svg>
                <div class="card-body">
                  <p class="card-text">
    <a href="#" class="text-decoration-none">ФЗ-69</a><br>
    <a href="#" class="text-decoration-none">ФЗ-123</a><br>
    <a href="#" class="text-decoration-none">Боевой устав</a><br>
    <a href="#" class="text-decoration-none">Устав караула</a><br>
    &nbsp;<br>
    &nbsp;<br>
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Подробнее
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Редактировать
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  aria-label="Placeholder: Thumbnail"
                  class="bd-placeholder-img card-img-top"
                  height="225"
                  preserveAspectRatio="xMidYMid slice"
                  role="img"
                  width="100%"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Электронные журналы
                  </text>
                </svg>
                <div class="card-body">
                  <p class="card-text">
    <a href="#" class="text-decoration-none">Расписание дежурств</a><br>
    <a href="#" class="text-decoration-none">Журнал ТО техники</a><br>
    <a href="#" class="text-decoration-none">Журнал инструктажей</a><br>
    &nbsp;<br>
    &nbsp;<br>
    &nbsp;<br>
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Подробнее
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Редактировать
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mainpage-col__section-half">
              <p>
                Мобильное приложение
                <br>
                МЧС России:
                </p>
                  <a class="app-link btn btn-outline-secondary" href="https://apps.apple.com/app/id1530044766" target="_blank" title="App Store">
                    📱 Скачать в App Store
                  </a>
                  <a class="app-link btn btn-outline-secondary" href="https://play.google.com/store/apps/details?id=io.citizens.security&hl=ru" target="_blank" title="Google Play">
                    🤖 Скачать в Google Play
                  </a>
              </p>
            </div>
{% endblock %}